{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Modifier une borne de recharge{% endblock %}

{% block body %}
    <h1>Modifier la borne de recharge</h1>

    {{ include('admin/charging_station_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_charging_stations') }}">Retour sur les bornes</a>

    {{ include('admin/charging_station_delete_form.html.twig') }}
{% endblock %}
