{# This is the page that will allow admins to see the charging stations' catalog #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Bornes de recharge - Admin - {{ parent() }}{% endblock %}

{% block body %}
<h1>Catalogue de Bornes de Recharge</h1>
{% endblock %}
