{# This is the page that will allow admins to see their estimates requests #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Demandes de devis - Admin - {{ parent() }}{% endblock %}

{% block body %}
<h1>Demandes de Devis</h1>
{% endblock %}
