{# This is the page that will allow admins to see their partnership requests #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Demandes de partenariat - Admin - {{ parent() }}{% endblock %}

{% block body %}
<h1>Demandes de Partenariat</h1>
{% endblock %}