{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Modifier véhicule{% endblock %}

{% block body %}
    <div class="page-form-edit">
        <h1>Modifier le véhicule</h1>

        <div class="form-edit">
            {{ include('admin/vehicle_form.html.twig') }}
        </div>
        
        <div class="form-edit">
            {{ include('admin/vehicle_delete_form.html.twig') }}
        </div>
        <a href="{{ path('admin_vehicles') }}">Retour sur les véhicules</a>
    </div>
{% endblock %}
