{# This is the page that will allow admins to see the vehicles' catalog #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Véhicules - Admin - {{ parent() }}{% endblock %}

{% block body %}
<h1>Catalogue de Véhicules</h1>
{% endblock %}