{% extends 'admin/admin_layout.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau véhicule</h1>

    {{ include('admin/vehicle_form.html.twig') }}

    <a href="{{ path('admin_vehicles') }}">Retour sur les véhicules</a>
{% endblock %}
