.button-action {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.table-show-vehicle {
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

.table-show-refill {
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

.table-vehicle {
    text-align: center;
}

.table-refill {
    text-align: center;
}

.btn-outline-info {
    margin-top: 5px;
}

.btn-add {
    margin-left: 8px;
}

.page-form-edit {
    width: 80%;
    margin: auto;
}

.form-edit {
    margin-bottom: 20px;
}
