.presentation-text {
    border: 1px solid black;
    margin: 50px 0;
    padding: 10px;
    text-align: justify;
}

.presentation-rental {
    display: flex;
    justify-content: space-between;
}

.presentation-rental p {
    font-size: 30px;
    padding-left: 70px;
}

.presentation-rental p span {
    font-size: 20px;
}

.logo-mobilean {
    height: 15vw;
}

#vehicle-title {
    border: 1px solid black;
    margin-top: 70px;
    text-align: center;
}

.vehicle-type {
    margin: 70px 0;
    text-align: center;
}

#carousel-commercial-vehicles {
    margin: auto;
    width: 70%;
}

#carousel-private-vehicles {
    margin: auto;
    width: 70%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

figcaption {
    font-size: 25px;
}
