.presentation-text {
	border: 1px #000000 solid;
	padding: 10px;
	margin: 50px 0 50px 0;
	text-align: justify;
}

.presentation-rental {
	display: flex;
	justify-content: space-between;
}

.presentation-rental p {
	font-size: 30px;
	padding-left: 70px;
}

.presentation-rental p span {
	font-size: 20px;
}

.logo-mobilean {
	height: 15vw;
}

#vehicle-title {
	border: 1px #000000 solid;
	text-align: center;
	margin-top: 70px;
}

.vehicle-type {
	margin: 70px 0 70px 0;
	text-align: center;
}

#carousel-commercial-vehicles {
	width: 70%;
	margin: auto;
}

#carousel-private-vehicles {
	width: 70%;
	margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 50px;
	width: 50px;
}

figcaption{
	font-size: 25px;
}
