// For smartphones and tablets
.presentation-text {
    margin: 50px 0;
    padding: 10px;
    text-align: justify;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
}

.presentation-rental {
    margin-top: 100px;
    text-align: center;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    padding-bottom: 10px;
}

.Offerpresentation{
    font-size: 40px;
    color: #DA9652;
}

.vehicle-type {
    margin: 120px 0 50px 0;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
}

.carousel {
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

section h3 {
    padding-bottom: 50px;
}

.vehicle-list {
    display: grid;
    list-style: none;
}

.vehicle-list h4 {
    text-align: center;
    margin-bottom: 30px;
}

.vehicle-detail-left{
    grid-column-start: 1;
    grid-column-end: 3;
}

.vehicle-detail-right {
    grid-column-start: 3;
    grid-column-end: 6;
}

#vehicle-right {
    font-size: 30px;
}

#vehicle-left {
    font-size: 30px;
}

.carousel-inner h4 {
    text-align: center;
}

.presentation {
    margin-top: 100px;
    text-align: center;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    padding-bottom: 10px;
}

// For computers
@media screen and (min-width : 1112px) {
    .carousel {
        margin: auto;
        padding: 10px;
        box-shadow: 2px 2px 2px gray,
        -1px -1px 2px white;
        background-color: #F2F4F1;
        width: 80%;
    }
}