// For smartphones and tablets
#vehicle-title {
    margin: 120px 0 50px 0;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    color: #548235;
}

.vehicle-description {
    padding-top: 20px;
}

.vehicle-picture{
    border: 2px solid #BDC1BC;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    width: 100%;
}

.vehicule-details-title {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #548235;

}

.vehicule-details {
    border: 2px solid #BDC1BC;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    padding-bottom: 20px;
}

.vehicule-detail {
    list-style: none;
    margin-left: 10vw;
    font-size: 4vw;
    padding-bottom: 5vw;
}

.request-button {
    border: 1px solid #999;
    padding: 20px 20px;
    border-radius:10px;
    box-shadow:2px 2px 6px #999;
    background:#fff;
    background-color:#6AA55C;
    align-items: center;
    display: block;
    margin: auto;
}

// For computers
@media screen and (min-width : 1112px) {
    .vehicle-picture{
        border: 2px solid #BDC1BC;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray,
        -1px -1px 2px white;
        background-color: #F2F4F1;
        height: 30vw;
        width: 50vw;
        margin: auto;
    }

    .vehicule-details {
        border: 2px solid #BDC1BC;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray,
        -1px -1px 2px white;
        background-color: #F2F4F1;
        padding-bottom: 20px;
        width:50vw;
    }

    .vehicle-description {
        margin: auto;
        width: 70%;
        padding-top: 20px;
    }

    .vehicule-details {
        border: 2px solid #BDC1BC;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray,
        -1px -1px 2px white;
        background-color: #F2F4F1;
        padding-bottom: 20px;
        width:50vw;
    }

    .vehicule-detail {
        list-style: none;
        margin-left: 10vw;
        font-size: 1.5vw;
    }
}
