{# This is the base that all other views will extend #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    <title>{% block title %}Mobilean{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
    {% block navbar %}
    {% endblock %}
    </header>

    <main>
    {% block body %}
        <h1>{{ pageTitle|default('') }}</h1>
    {% endblock %}
    </main>

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
