{# This is the page that will display a form for users contact Mobilean #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block body %}
<h1>Contactez-Nous</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Envoyer</button>
{{ form_end(form) }}
{% endblock %}
