{# This is the page that will display a form for users to ask for an estimate #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Demande de Devis - {{ parent() }}{% endblock %}

{% block body %}
<h1>Je Décris mon Besoin</h1>
{% endblock %}
