{# This is the page that will display a form for users to ask for partnership #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Demande de Partenariat - {{ parent() }}{% endblock %}

{% block body %}
<h1>Demande de Partenariat</h1>
{% endblock %}