{# This is the page that will display a form for users to ask for partnership #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Devenir Installateur - {{ parent() }}{% endblock %}

{% block body %}
<h1>Devenir Installateur</h1>
{% endblock %}
