{# This is the page that will display informations about Mobilean #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}À Propos de Nous - {{ parent() }}{% endblock %}

{% block body %}
<h1>À Propos de Nous</h1>

<section id="ourActions">
    <h2>Nos Actions</h2>
    <ul>
        <li>Sui palamve bellicosus et quam dispicere adulatorum subditivos bellicosus iurgiis accusatores iurgiis litis accitus foveis ruinarum sui quam praeceptum praeceptum..</li>
        <li>Aerumnas quieti quieti homines ab aperta pericula omni ab omni.</li>
        <li>Quidem interneciva quidem enim pauca praeter multa Isaura Seleuci aegre Claudiopolis aegre oppida olim subversa.</li>
    </ul>
</section>

<section id="ourStory">
    <h2>Notre Histoire</h2>
    <p>
        Quid enim tam absurdum quam delectari multis inanimis rebus, ut honore, ut gloria, ut aedificio, ut vestitu cultuque corporis, animante virtute praedito, eo qui vel amare vel, ut ita dicam, redamare possit, non admodum delectari? Nihil est enim remuneratione benevolentiae, nihil vicissitudine studiorum officiorumque iucundius.
    </p>
    <p>
        Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore. Meministi enim profecto, Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a Q. Pompeio, qui tum erat consul, dissideret, quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella.
    </p>
    <p>
        Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus, ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium vero dare audeamus libere. Plurimum in amicitia amicorum bene suadentium valeat auctoritas, eaque et adhibeatur ad monendum non modo aperte sed etiam acriter, si res postulabit, et adhibitae pareatur.
    </p>
</section>

<section id="ourTeam">
    <h2>Notre Équipe</h2>
    <figure>
        <img src="https://via.placeholder.com/150" alt="Yohan">
        <figcaption>Yohan</figcaption>
    </figure>
    <figure>
        <img src="https://via.placeholder.com/150" alt="Clément">
        <figcaption>Clément</figcaption>
    </figure>
    <figure>
        <img src="https://via.placeholder.com/150" alt="Thierry">
        <figcaption>Thierry</figcaption>
    </figure>
</section>
{% endblock %}
