{# This is the page that will display informations about Mobilean #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}À Propos de Nous - {{ parent() }}{% endblock %}

{% block body %}
<h1>À Propos de Nous</h1>
{% endblock %}