{# This is the page that will display legal notices #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Mentions Légales - {{ parent() }}{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>
{% endblock %}